{% extends 'base/main.html' %}
{%load static %}

{% block content %}

<main>
    <section class="form-container">
        <img id = "logo" src="{% static 'images/logo.png'%}" alt="" srcset="">

        <div id="welcome-message">
            <h1>Welcome to Smeet</h1>
            <p>A Secure video call application just fro you!</p>
        </div>

        <form id="form">
            <div class="form-field">
                <input type="text" name="room" placeholder="Enter a room name...." style="text-transform: uppercase;"/>
            </div>
            <div class="form-field">
                <input type="text" name="username" placeholder="Enter Your name...." style="text-transform: uppercase;"/>
            </div>
            <div class="form-field">
                <input type="submit" value="Join Stream" />
            </div>
        </form>
    </section>
</main>

<script type="text/javascript">
    let form = document.getElementById('form');

    let handelSubmit = async (e)=>{
        e.preventDefault();

        // getting the room -> token,uid to join by fetching it from api
        let room = e.target.room.value.toUpperCase();
        let name = e.target.username.value;

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json();

        let UID = data.uid
        let token = data.token
        // saving the user given and fetch ifo in sessionStorage as it will automatically delete after the window is closed 
        sessionStorage.setItem('UID',UID)
        sessionStorage.setItem('token',token)
        sessionStorage.setItem('room',room)
        sessionStorage.setItem('name',name)
        // now this will used by the stram.js to find the ids to join 
        window.open('/room/', "_self");
    }

    form.addEventListener('submit', handelSubmit) 
</script>

{% endblock content %}